<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fib.ecny.wallet.mapper.WalletInfoMapper">
    <sql id="BASE_COLUMN_LIST">
        wallet_id,wallet_name,wallet_level,wallet_status,create_dt,update_dt
    </sql>

    <insert id="insertWalletInfo" parameterType="com.fib.ecny.wallet.entity.WalletInfoEntity">
        INSERT INTO t_wallet_info(wallet_id,wallet_name,wallet_level,wallet_status,create_dt,update_dt)
        VALUES(#{walletId},#{walletName},#{walletLevel},#{walletStatus},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    </insert>

    <insert id="batchInsert" parameterType="com.fib.ecny.wallet.entity.WalletInfoEntity">
        INSERT INTO t_wallet_info(ecny_cust_no,wallet_id,wallet_name,wallet_level,wallet_status,remark,create_dt,update_dt)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.ecnyCustNo},#{item.walletId},#{item.walletName},#{item.walletLevel},#{item.walletStatus},#{item.remark},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
        </foreach>
    </insert>

    <select id="getQueueHeader"
            parameterType="com.fib.ecny.wallet.entity.WalletInfoEntity"
            resultType="com.fib.ecny.wallet.entity.WalletInfoEntity">
        SELECT *
        FROM t_wallet_info
        <where>
            <if test="walletId != null and walletId != ''">
                AND wallet_id=#{wallet_id}
            </if>

            <if test="walletName != null and walletName != ''">
                AND wallet_name=#{walletName}
            </if>
        </where>
    </select>

    <update id="updateQueueItemStatus"
            parameterType="com.fib.ecny.wallet.entity.WalletInfoEntity">
        UPDATE t_wallet_info
        SET wallet_name=#{walletName}
        WHERE wallet_id=#{walletName}
        AND wallet_id IN
        <foreach collection="list" item="recordId" index="index"
                 open="(" close=")" separator=",">
            #{recordId}
        </foreach>
    </update>
</mapper>