<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.fib.upp.modules.beps.mapper.BatchProcessMapper">

	<insert id="insertBatchProcessGroup"
		parameterType="com.fib.upp.modules.beps.entity.BatchProcessGroup">
		INSERT INTO
		batch_process_group(batch_group_id,trans_num,trans_amt,drawee_acct_no,drawee_acct_name,biz_type,batch_type,trans_id,party_id,teller_id)
		VALUES(#{batchGroupId},#{transNum},#{transAmt},#{draweeAcctNo},#{draweeAcctName},#{bizType},#{batchType},#{transId},#{partyId},#{tellerId})
	</insert>
	<!-- -->
	<select id="getBatchProcessGroup"
		parameterType="com.fib.upp.modules.beps.entity.BatchProcessGroup"
		resultType="com.fib.upp.modules.beps.entity.BatchProcessGroup">
		SELECT * FROM batch_process_group
		<where>
			<if test="batchGroupId != null">
				and batch_group_id = #{batchGroupId}
			</if>
		</where>
	</select>

	<update id="updateBatchProcessGroup"
		parameterType="com.fib.upp.modules.beps.entity.BatchProcessGroup">
		UPDATE batch_process_group
		<set>
			<if test="draweeAcctNo != null and draweeAcctNo != ''">
				drawee_acct_no=#{draweeAcctNo},
			</if>
			<if test="draweeAcctName != null and draweeAcctName != ''">
				drawee_acct_name=#{draweeAcctName},
			</if>
		</set>
		WHERE batch_group_id=#{batchGroupId}
	</update>


	<select id="getQueueHeader"
		parameterType="com.fib.upp.modules.beps.entity.BepsQueueHeader"
		resultType="com.fib.upp.modules.beps.entity.BepsQueueHeader">
		SELECT *
		FROM beps_queue_header
		<where>
			<if test="status != null and status != ''">
				AND status=#{status}
			</if>

			<if test="queueType != null and queueType != ''">
				AND queue_type=#{queueType}
			</if>

			<if test="queueId != null and queueId != ''">
				AND queue_id=#{queueId}
			</if>
		</where>
	</select>

	<update id="updateQueueItemStatus"
		parameterType="com.fib.upp.modules.beps.entity.BepsQueueItem">
		UPDATE beps_queue_item
		SET status=#{status}
		WHERE queue_id=#{queueId}
		AND record_id IN
		<foreach collection="list" item="recordId" index="index"
			open="(" close=")" separator=",">
			#{recordId}
		</foreach>
	</update>

	<select id="getQueueByQueueType" parameterType="string"
		resultType="com.fib.upp.modules.beps.entity.BepsQueue">
		SELECT queue_type,queue_status
		FROM beps_queue
		WHERE
		queue_type=#{queueType}
	</select>

	<insert id="insertBatch">
		INSERT INTO batch_process_item(batch_id,batch_seq_id) VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.batchId},#{item.batchSeqId})
		</foreach>
	</insert>
</mapper>