<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fib.upp.modules.cnaps.mapper.CnapsSystemStatusMapper">

	<!-- 查找用户信息 -->
	<select id="getCnapsSystemStatus"
		parameterType="com.fib.upp.modules.cnaps.entity.CnapsSystemStatus"
		resultType="com.fib.upp.modules.cnaps.entity.CnapsSystemStatus">
		SELECT system_code,clear_bank_no,current_system_date,current_system_status,holiday_flag,login_operation_type FROM cnaps_system_status
		<where>
			<if test="systemCode != null">
				and system_code = #{systemCode}
			</if>
			
			<if test="clearBankNo != null">
				and clear_bank_no = #{clearBankNo}
			</if>
		</where>
	</select>
</mapper>